.userList {
  width: 623px;
  .title {
    background-color: #c5dfff;
    height: 70px;
    border-radius: 8px 8px 0px 0px;
    width: 623px;
    padding: 20px 0;
  }
  h4 {
    margin-bottom: 0;
  }
  .content {
    height: 100%;
  }
}
